.container {
    font-family: Yugothic, "斿ゴシック", "メイリオ", meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
}


h2 {
    text-align: center;
    
}

th {
    font-size: 20px;
}


p {
    font-size: 14px;
}

td {
    text-align: center;
    font-size: 20px;
}
